

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Serie</th>
      <th scope="col">#Fact</th>
      <th scope="col">RUC</th>
      <th scope="col">Empresa</th>
      <th scope="col">Concepto</th>
      <th scope="col">Sub-T</th>
      <th scope="col">IGV</th>
      <th scope="col">Total</th>
      <th scope="col">Credito</th>
      <th scope="col">Detraccion</th>
      <th scope="col">F-Emision</th>
      <th scope="col">F-Pago</th>
      <th scope="col">Obra/Serv</th>
      

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
       <td>OTROG</td>
       <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
       <td>OTROG</td>
       <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
       <td>OTROG</td>
       <td>OTROG</td>
    </tr>
    <tr>
      <th scope="row">2</th>
       <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
       <td>OTROG</td>
       <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
       <td>OTROG</td>
       <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
       <td>OTROG</td>
       <td>OTROG</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
       <td>OTROG</td>
       <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
       <td>OTROG</td>
       <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
       <td>OTROG</td>
       <td>OTROG</td>
    </tr>
  </tbody>
</table>

